### Julia ###
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
statprof/
Manifest.toml
docs/build

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.history
.ionide

### macOS ###
.DS_Store
